body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: white; 
}

header {
  width: 100%;
  position: relative;
  border-style: solid;
  border-color: red;
}
h1 {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 5em;
  border-style: solid;
  font-weight: 100;
 }

nav {
	position: absolute;
	bottom: 0;
	right: 0;
  float: right; }


li {
  float: left;
  display: block;
  list-style: none;
	font-size: 1.2em;
	padding-right: 2px;
}
