//- includes/head.pug
head
	meta(charset="utf-8")
	meta(httpe-equiv="x-ua-compatible" content="ie=edge")
	title Kyle Cheung - #{title}
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="assets/style/base/reset.css")
	link(rel="stylesheet" href="assets/style/base/base.css")
	block scripts
	block stylesheets
