extends template.pug
block options
	- var title = "Home"

block scripts
block stylesheets
	link(rel="stylesheet" href="assets/style/base/layout.css")
block content
	section.main-section
		p Some text. Test.	

		
		
